{% extends "base.html" %}

{% block title %}
    {{ title|capfirst }} | {{ block.super }}
{% endblock %}

{% load static %}
{% block container %}

<section id="login" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 services-introduction">
                    <!--<h2 class="text-center">Login</h2>-->
                    <!--<p class="text-center inverse">Acesse sua conta por meio do seu login e senha</p>-->
                </div>
            </div>

             <div class="col-md-8 col-md-push-2 ">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="form-group" class="form-control">

                               <h3> E-mail de redefinição de senha enviado </h3>
                                     <p> Enviámos-lhe instruções para definir a sua senha, se existir uma conta com o email que introduziu. Você deve recebê-los em breve. </P>

                                    <p> Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam. </p>
                            </div>
                        </form>
                    </div>
                </div>

        </div>
    </section>

{% endblock %}