<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<title> Cadastro </title>
	<meta content="" name="description">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="width=device-width" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<link href="img/favicon.png" rel="icon" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="{% static 'css/bootstrap-light.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme-light.css' %}" rel="stylesheet">
	<script src="js/vendor/wow.js"></script>
</head>

  <nav class="navbar navbar-fixed-top shadow">

            <div class="navbar-header">
                <a class="navbar-brand" href=""{% url 'index-light' %}"><img src="{% static 'img/logo-assinaki_2.png' %}" alt="logo" >
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index-light' %}">Voltar</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
<br><br><br><br><br>
                <div class="col-md-8 col-md-push-2 ">
                        <form >

                            <div class="form-group">
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome" required>
                            </div>
							<div class="form-group">
                                <input type="date" class="form-control" id="date" name="date" placeholder="Data Nascimento" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="profissao" name="profissao" placeholder="Profissão" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="phone" class="form-control" id="celular" name="celular" placeholder="Celular" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id=cpf_cnpj name="cpf_cnpj" placeholder="CPF/CNPJSS" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="empresa" name="empresa" placeholder="Empresa" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" required>
                            </div>
							<div class="form-group">
                                <input type="text" class="form-control" id="pais" name="pais" placeholder="Pais" required>
                            </div>
                            <button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">Salvar</button>
                        </form>
                    </div>
                </div>
</body>

</html>