{% extends "base.html" %}

{% block title %}
    {{ title|capfirst }} | {{ block.super }}
{% endblock %}

{% load static %}
{% block container %}



<section id="login" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 services-introduction">
                    <h2 class="text-center">Cadastro</h2>
                    <p class="text-center inverse">Faça seu cadastro por meio do formulário abaixo</p>
                </div>
            </div>

             <div class="col-md-8 col-md-push-2 ">
                        <form method="POST" >
                            {% csrf_token %}
                            {{ form_cadastro.non_field_errors }}

                            <div class="form-group"class="form-control">
                                {{ form_cadastro.label_tag }}
                                {{ form_cadastro }}
                                {{ form_cadastro.errors }}

                            </div>

                            <button type="submit" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">Cadastrar</button>
                        </form>
                    </div>
                </div>

        </div>
    </section>

{% endblock %}