{% extends "base.html" %}

{% block title %}
    {{ title|capfirst }} | {{ block.super }}
{% endblock %}

{% load static %}
{% block container %}

<section id="login" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 services-introduction">


                </div>
            </div>
            <div class="col-md-4 col-md-push-4 ">
                        <form method="POST">
                             {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" id="login" name="login" placeholder="Login" required>
                            </div>
							<div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <a href=”html://….”>Esqueceu a senha</a>
                            <br/>
                            <br/>
                            <button type="button" id="submit" name="submit" class="btn btn-margin btn-primary btn-lg text-center">Salvar</button>
                        </form>
                    </div>
        </div>
    </section>

{% endblock %}